	@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@100;300&family=Ubuntu&display=swap');
	/*@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@100;300&display=swap');*/
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		outline: none;
		text-decoration: none;
		list-style: none;
		font-family: 'Heebo', sans-serif;
		scroll-behavior: smooth;
	}
	body{
		width: 100%;
		display: grid;
		overflow-x: hidden;
	}
	/*------------------------------------------------*/
	header{
		width: 100%;
		height: 70px;
		background: #3b464c;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-bar{
		height: 90%;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.nav-items{
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 50px;
	}
	.nav-items li {
		color: white;
		font-weight: 1000;
		transition: 0.4s all;
	}
	.nav-items li:hover{
		color: #f39f39;
	}
	.logo{
		color: white;
		font-size: 20px;
		padding: 10px;
		border-radius: 20px;
		background: #f39f39;
	}
	.nav-bar .fa-bars{
		font-size: 30px;
		color: white;
		display: none;
		position: absolute;
		cursor: pointer;
	}
	.nav-bar .fa-xmark{
		font-size: 30px;
		position: absolute;
		color: white;
		display: none;
		cursor: pointer;

	}
	/*-----------------------------*/
	.a-div{
		height: 600px;
		width: 100%;
		background: #3b464c;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 50px;
		flex-direction: row;
	}
	.bg-img{
		height: 600px;
		width: 100%;
		background-image: url(bg5.png);
		background-size: 75%;
		background-position: center;
		background-repeat: repeat-x;
		opacity: 0.2;
		position: absolute;
	}
	.left-div{
		height: 500px;
		width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		grid-gap: 30px;
		z-index: 6;
	}
	.right-div{
		height: 500px;
		width: 500px;
		background-image: url(delivery.png);
		z-index: 4;
		background-size: cover;
	}
	.text{
		font-size: 60px;
		color: white;
		font-weight: 1000;
		line-height: 60px;
		letter-spacing: 3px;
		font-family: 'Ubuntu', sans-serif;
		animation: dj 1s linear;
	}

	.ro-text{
		font-family: 'Ubuntu', sans-serif;
		color: whitesmoke;
		font-size: 17px;
		text-align-last: left;
		line-height: 20px;
		width: 500px;
	}
	.add-dalo{
		height: 45px;
		width: 100%;
		display: flex;
		grid-gap: 10px;
	}
	.address{
		width: 450px;
		border-radius: 10px;
		background: white;
		border: none;
		color: black;
		font-size: 15px;
		padding: 20px;
	}
	.go{
		height: 100%;
		width: 100px;
		background: #f39f39;
		border: none;
		color: white;
		font-size: 20px;
		border-radius: 10px;
		transition: 0.3s all;
		cursor: pointer;
	}
	.go:hover{
		background: #fcba6a;
	}
	/*------------------------------------*/
	.b-div{
		height: 500px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-gap: 50px;
	}
	.b-right-box{
		height: 400px;
		width: 500px;
		display: flex;
		padding: 25px;
		grid-gap: 15px;
			flex-direction: column;
	}
	.b-text{
		font-size: 35px;
	}
	.b-ro-text{
		color: #f39f39;
	}
	.call{
		height: 50px;
		width: 100px;
		border-radius: 5px;
		background: #f39f39;
		text-align-last: center;
		padding: 15px;
		color: white;
		transition: 0.4s all;
	}
	.call:hover{
		background: #fcba6a;
	}
	.b-left-box{
		height: 400px;
		width: 400px;
		background-image: url(od.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
	/*-----------------------------------------------*/
	.c-div{
		height: 600px;
		width: 100%;
		text-align-last: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 100px;
	}
	.c-text{
		font-size: 40px;
		font-family: 'Ubuntu', sans-serif;

	}
	.c-ro-text{
		color: dimgray;
	}
	.c-items-div{
		height: 500px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-gap: 50px;
	}
	.c-del-box{
		height: 350px;
		width: 350px;
		background: #f0efe6;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 20px;
		text-align-last: center;
		padding: 25px;
	}
	.c-del-box:hover{
		box-shadow: 0 0 100px pink;
	}
	.c-img{
		height: 150px;
		width: 150px;
		background-image: url(food.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: -100px;
	}
	.two{
		background-image: url(box.png);
		background-size: 70%;
		/*margin-top: -130px;*/
	}
	.three{
		background-image: url(gro.png);
		background-size: 80%;
		/*margin-top: -150px;*/
	}
	.order-now{
		height: 50px;
		width: 100px;
		background: #f39f39;
		color: white;
		padding: 13px;
		border-radius: 5px;
		font-size: 15px;
		transition: 0.3s all;
	}
	.order-now:hover{
		background: #fcba6a;
	}
	.c-del-ro-text{
		padding: 5px;
		color: dimgray;
		text-align-last: left;
	}
	/*-------------------------------------------------*/
	.d-div{
		height: 600px;
		width: 100%;
		display: flex;
		background: #3b464c;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 150px;
		padding: 50px;
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
	}
	.d-text{
		font-size: 40px;
		font-family: 'Ubuntu', sans-serif;
		color: white;
	}
	.d-del-text{
	}
	.d-items-div{
		height: 500px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-gap: 50px;
	}
	.d-del-box{
		height: 300px;
		width: 360px;
		background: #253138;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
		grid-gap: 20px;
		padding: 25px;
	}
	.d-img{
		height: 100px;
		width: 100px;
		background: #e1ecb8;
		background-image: url(cycle.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 5px;
		margin-top: -100px;	
	}
	.bike{
		background-image: url(bike.png);
		background-size: 80%;
	}
	.pickup{
		background-image: url(truk.png);
		background-size: 80%;
	}
	.order-now{
		height: 50px;
		width: 100px;
		background: #f39f39;
		color: white;
		padding: 13px;
		border-radius: 5px;
		font-size: 15px;
		transition: 0.3s all;
	}
	.order-now:hover{
		background: #fcba6a;
	}
	.c-del-ro-text{
		padding: 5px;
		color: dimgray;
		text-align-last: left;
	}
	/*-----------------------------------------------*/
	.e-div{
		height: 500px;
		width: 100%;
		background: #253138;
		display: flex;
		align-items: center;
		flex-direction: column;
		grid-gap: 40px;
		text-align-last: center;
		padding: 100px;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
	}
	.e-text{
		font-family: 'Ubuntu', sans-serif;
		font-size: 35px;
		color: white;
		line-height: 40px;
	}
	.learn{
		height: 60px;
		width: 130px;
		background: #f39f39;
		color: white;
		font-size: 16px;
		padding: 17px;
		border-radius: 5px;
		transition: 0.3s all;
	}
	.learn:hover{
		background: #fcba6a;
	}
	/*----------------------------------------------*/
	.f-div{
		height: 400px;
		width: 100%;
		background: white;
		display: flex;	
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-gap: 10px;
	}
	.f-box{
		height: 300px;
		width: 300px;
		margin-top: -200px;
		color: black;
		text-align-last: center;
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		grid-gap: 20px;
		padding: 10px;
		/*background: red;*/
	}
	.f-img{
		height: 250px;
		width: 250px;
		background-image: url(air-delivery.png);
		background-size: cover;
		margin-top: -100px;
	}
	.first{
		background-image: url(handshake.png);
	}
	.second{
		background-image: url(medical-shield.png);
	}
	.third{
		background-image: url(business-person-showing-thumbs-up-hand-gesture.png);
	}
	.f-text{
		font-weight: 300;
		font-size: 30px;
		font-family: 'Ubuntu', sans-serif;	
	}
	.f-ro-text{
		color: dimgray;
		text-align-last: center;
		font-size: 15px;
	}

	/*-------------------------------------------*/
	.g-div{
		height: 700px;
		background: #3b464c;
		width: 100%;
		text-align: center;
		display: flex;
		background: ;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.g-box1{
		height: 50%;
		width: 100%;
		background: #3b464c;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 20px;
	}
	.g-b1-text{
		font-size: 40px;
	}
	.g-b1-ro-text{
		width: 50%;
		line-height: 30px;
		padding: 0px 150px 0px 150px;
		font-size: 15px;
	}
	.g-box2{
		background: white;
		height: 50%;
		border-top-left-radius: 30%;
		border-top-right-radius: 30%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-gap: 30px;
	}
	.g-sub-box{
		height: 300px;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 20px;
		margin-top: -150px;
	}
	.g-subbox-text{
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		color: black;
	}
	.g-subbox-ro-text{
		color: gray;
		padding: 0 30px 0 30px;
	}
	.g-img{
		height: 80px;
		width: 80px;
		background: #4c7419;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
		border-radius: 20px;
		color: white;
	}
	.g-more-info a{
		display: flex;
		/*align-items: center;*/
		justify-content: center;
		grid-gap: 5px;
		font-size: 20px;
		color: orange;
	}
	.fa-caret-down{
		font-size: 25px;
	}
	/*-------------------------------------------*/
	.h-div{
		height: 500px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 50px;
		padding: 100px;
	}
	.h-box1{
		width: 500px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		grid-gap: 30px;
	}
	.h-text{
		font-size: 40px;
		font-family: 'Ubuntu', sans-serif;
	}
	.h-order-now{
		height: 60px;
		width: 120px;
		padding: 20px;
		font-size: 16px;
		color: white;
		border-radius: 10px;
		background: orange;
	}
	.h-box2{
		height: 400px;
		width: 400px;
		background-image: url(homedv.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;
	}
	/*-------------------------------------------*/
	.z-div{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: black;
		padding: 10px;
	}
	.z-div-a{
		height: 300px;
		width: 100%;
		background: black;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		font-family: 'Ubuntu', sans-serif;
		/*background: #3b464c;*/
		grid-gap: 200px;
	}
	.z-box{
		display: flex;
		flex-direction: column;
		grid-gap: 10px;
	}
	.z-box li{
		color: dimgray;
		transition: 0.4s all;
	}
	.z-box li:hover{
		color: orange;
	}
	.z-social-box{
		display: flex;
		flex-direction: column;
		grid-gap: 20px;
	}
	.social-icons{
		display: flex;
		flex-direction: row;
		grid-gap: 10px;
	}
	.social-icons i{
		font-size: 30px;
		transition: 0.5s all;	
		color: white;
	}
	.social-icons i:hover{
		transform: rotate(360deg);
		color: orange;
	}
	.copyright{
		color: white;
	}
	.lallantop{
		height: 100px;
		width: 100px;
		display: flex;
		transform: rotate(-90deg);
		background-image: url(truck.png);
		background-size: cover;
		position: fixed;
		bottom: 5%;
		right: -20px;
		transition: 0.5s all;
		filter: drop-shadow(1px 1px white);
	}

	/*================================================================*/
	@media only screen and (max-width: 500px){

		body{
		overflow-x: hidden;
		}
		.a-div{
		height: 3000px;
		grid-gap: 200px;
		flex-direction: column-reverse;
		padding: 0;
	}
	.bg-img{
		display: none;
	}
	.left-div{
		width: 1200px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align-last: center;
		grid-gap: 30px;
	}
	.right-div{
		height: 1500px;
		width: 1000px;
		background-image: url(delivery.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: -500px;
	}
	.text{
		font-size: 100px;
		color: white;
		font-weight: 1000;
		line-height: 150px;
		letter-spacing: 3px;
		text-align: center;
		padding-left: 30px;
	}

	.ro-text{
		color: whitesmoke;
		font-size: 50px;
		text-align: center;
		line-height: 70px;
		text-align-last: center;
		padding: 50px;
		width: 100%;
	}
	.add-dalo{
		height: 500px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 50px;
		padding: 50px;
	}
	.address{
		height: 100px;
		width: 1100px;
		border-radius: 40px;
		text-align-last: left;
		font-size: 50px;
		padding: 100px;
	}
	.go{
		height: 160px;
		width: 1100px;
		font-size: 50px;
		border-radius: 30px;
	}
	/*======================================*/
	.b-div{
		height: 2500px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/*grid-gap: 50px;*/
	}
	.b-left-box{
		height: 1000px;
		width: 1000px;
	}
	.b-right-box{
		height: 1000px;
		width: 1000px;
		display: flex;
		padding: 25px;
		grid-gap: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.b-text{
		font-size: 100px;
		text-align:center;
	}
	.b-ro-text{
		color: #f39f39;
		font-size: 50px;
		text-align: center;
	}
	.call{
		height: 180px;
		width: 400px;
		padding: 50px;
		border-radius: 30px;
		text-align-last: center;
		font-size: 50px;
		color: white;
		transition: 0.4s all;
	}
	/*========================================*/
	.e-div{
		height: 1200px;
		width: 100%;
		background: #253138;
		display: flex;
		align-items: center;
		flex-direction: column;
		grid-gap: 100px;
		text-align-last: center;
		padding-top: 300px;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
	}
	.e-text{
		font-family: 'Ubuntu', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		line-height: 100px;
	}
	.learn{
		height: 160px;
		width: 400px;
		border-radius: 20px;
		background: #f39f39;
		color: white;
		font-size: 50px;
		padding: 40px;
		transition: 0.3s all;
	}
	/*===================================*/
	.f-div{
		height: 5200px;
		width: 100%;
		background: white;
		display: flex;	
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 300px;
	}
	.f-box{
		height: 1200px;
		width: 1200px;
		color: black;
		text-align-last: center;
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		/*grid-gap: 100px;*/
		padding: 10px;
		/*background: red;*/
	}
	.f-img{
		height: 1000px;
		width: 1000px;
		background-image: url(air-delivery.png);
		background-size: cover;
		margin-top: -100px;
	}
	.first{
		background-image: url(handshake.png);
	}
	.second{
		background-image: url(medical-shield.png);
	}
	.third{
		background-image: url(business-person-showing-thumbs-up-hand-gesture.png);
	}
	.f-text{
		font-weight: 300;
		font-size: 100px;
		font-family: 'Ubuntu', sans-serif;	
	}
	.f-ro-text{
		color: dimgray;
		text-align-last: center;
		font-size: 50px;
	}
	/*=============================================*/
	.c-div{
		height: 7000px;
		width: 100%;
		text-align-last: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 300px;
		padding-top: 200px;
	}
	.c-text-box{
		display: flex;
		flex-direction: column;
	}
	.c-text{
		font-size: 150px;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
	.c-ro-text{
		font-size: 50px;
		text-align: center;
		padding: 100px;
		color: dimgray;
	}
	.c-items-div{
		height: 5000px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 500px;
	}
	.c-del-box{
		height: 1200px;
		width: 1100px;
		background: #f0efe6;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 50px;
		text-align-last: center;
		padding: 25px;
	}
	.c-del-box:hover{
		box-shadow: 0 0 100px pink;
	}
	.c-del-text{
		font-size: 110px;
	}
	.c-img{
		height: 700px;
		width: 700px;
		background-image: url(food.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: -500px;
	}

	.two{
		background-image: url(box.png);
		background-size: 70%;
		/*margin-top: -130px;*/
	}
	.three{
		background-image: url(gro.png);
		background-size: 80%;
		/*margin-top: -150px;*/
	}
	.c-del-box .order-now{
		height: 150px;
		width: 300px;
		background: #f39f39;
		color: white;
		padding: 40px;
		border-radius: 30px;
		font-size: 45px;
		transition: 0.3s all;
	}
	.order-now:hover{
		background: #fcba6a;
	}
	.c-del-ro-text{
		color: dimgray;
		padding: 50px;
		font-size: 50px;
		text-align: center;
	}
	/*=======================================*/
	.d-div{
		height: 5500px;
		width: 100%;
		display: flex;
		background: #3b464c;
		background-repeat: no-repeat;
		background-size: cover;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 150px;
		padding: 50px;
		border-top-left-radius: 0%;
		border-top-right-radius: 0%;
	}
	.d-text{
		font-size: 120px;
		font-family: 'Ubuntu', sans-serif;
		color: white;
	}
	.d-del-text{
		font-weight: 400;
		font-size: 80px;
	}
	.d-del-ro-text{
		font-size: 50px;
		text-align: center;
		padding: 50px;
		color: whitesmoke;
		font-weight: 100;
	}
	.d-items-div{
		height: 5000px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 500px;
	}
	.d-del-box{
		height: 1100px;
		width: 1100px;
		background: #253138;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		grid-gap: 50px;
		padding: 50px;
	}
	.d-img{
		height: 400px;
		width: 400px;
		background: #e1ecb8;
		background-image: url(cycle.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50px;
		margin-top: -400px;	
	}
	.bike{
		background-image: url(bike.png);
		background-size: 80%;
	}
	.pickup{
		background-image: url(truk.png);
		background-size: 80%;
	}
	.order-now{
		height: 150px;
		width: 300px;
		background: #f39f39;
		color: white;
		text-align: center;
		border-radius: 20px;
		padding: 45px;
		font-size: 45px;
		transition: 0.3s all;
	}
	.order-now:hover{
		background: #fcba6a;
	}
	.c-del-ro-text{
		padding: 5px;
		color: dimgray;
		text-align-last: left;
	}
	/*-------------------------------------------*/
	.g-div{
		height: 3000px;
		grid-gap: 300px;
	}
	.g-box1{
		height: 20%;
		width: 100%;
		/*background: #3b464c;*/
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 100px;
	}
	.g-b1-text{
		font-size: 100px;
	}
	.g-b1-ro-text{
		width: 100%;
		line-height: 50px;
		color: darkgray;
		padding: 0px 150px 0px 150px;
		font-size: 45px;
	}
	.g-box2{
		height: 3000px;
		width: 100%;
		border-top-left-radius: 300px;
		border-top-right-radius: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 200px;
	}
	.g-sub-box{
		height: 700px;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 50px;
		margin-top: -150px;
	}
	.g-subbox-text{
		font-family: 'Ubuntu', sans-serif;
		font-size: 50px;
		font-weight: 200;
		color: black;
	}
	.g-subbox-ro-text{
		font-size: 35px;
		color: gray;
		padding: 0 30px 0 30px;
	}
	.g-img{
		height: 200px;
		width: 200px;
		background: #4c7419;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 100px;
		border-radius: 20px;
		color: white;
	}
	.g-more-info a{
		display: flex;
		/*align-items: center;*/
		justify-content: center;
		grid-gap: 5px;
		font-size: 50px;
		color: #f39f39;
	}

	.fa-caret-down{
		font-size: 60px;
	}
	/*-------------------------------------------*/
	.h-div{
		height: 2000px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
		grid-gap: 50px;
	}
	.h-box1{
		width: 1000px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 90px;
		text-align: center;
	}
	.h-text{
		font-size: 100px;
		font-family: 'Ubuntu', sans-serif;
	}
	.h-ro-text{
		font-size: 35px;
	}
	.h-order-now{
		height: 180px;
		width: 400px;
		padding: 50px;
		font-size: 50px;
		color: white;
		border-radius: 10px;
		background: #f39f39;
		transition: 0.3s all;
	}
	.h-order-now:hover{
		background: #fcba6a;
	}
	.h-box2{
		height: 800px;
		width: 800px;
		background-image: url(homedv.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;
	}
	/*-----------------------------------------------*/
	.z-div{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: black;
		padding-top: 100px;
	}
	.z-div-a{
		height: 2000px;
		width: 100%;
		background: black;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 50px;
		font-family: 'Ubuntu', sans-serif;
		/*background: #3b464c;*/
		text-align: center;
		grid-gap: 150px;
	}
	.z-box{
		display: flex;
		flex-direction: column;
		grid-gap: 10px;
	}
	.z-box li{
		color: dimgray;
		transition: 0.4s all;
	}
	.z-box li:hover{
		color: orange;
	}
	.z-social-box{
		display: flex;
		flex-direction: column;
		grid-gap: 100px;
	}
	.social-icons{
		display: flex;
		flex-direction: row;
		grid-gap: 100px;
	}
	.social-icons i{
		font-size: 100px;
		transition: 0.5s all;	
		color: white;
	}
	.social-icons i:hover{
		transform: rotate(360deg);
		color: orange;
	}
	.copyright{
		color: white;
		letter-spacing: 5px;
		padding: 40px;
		font-size: 30px;
	}
	.logo2{
		color: white;
		font-size: 60px;
		padding: 50px;
		border-radius: 50px;
		background: #f39f39;
	}
	/*===================================*/
	header{
		width: 100%;
		height: 200px;
		background: #3b464c;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-bar{
		height: 5000px;
		width: 90%;
		position: fixed;
		right: 0;
		display: flex;
		align-items: center;
		z-index: 10;
	}
	.nav-items{
		background: whitesmoke;
		height: 100%;
		width: 100%;
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		grid-gap: 100px;
		flex-direction: column;
		font-weight: 100;
		padding-top: 2000px;
		right: -100%;
		transition: 0.5s all;
	}
	.nav-bar .fa-xmark{
		font-size: 100px;
		display: none;
		right: 10%;
		color: black;
	}
	.nav-bar .fa-bars{
		display: block;
		font-size: 100px;
		color: white;
		/*position: absolute;*/
		right: 10%;
	}

	.nav-items li {
		height: 150px;
		width: 700px;
		text-align: center;
		font-size: 50px;
		font-weight: 1000;
		transition: 0.4s all;
		background: #f39f39;
		padding: 40px;
		color: white;
		border-radius: 20px;
	}
	.nav-items li:hover{
		color: black;
	}
	.logo{
		color: white;
		font-size: 40px;
		padding: 30px;
		position: absolute;
		border-radius: 50px;
		background: #f39f39;
		left: -5%;
	}
	/*-----------------------------------------*/
	}